<div class="menu-box center">
    <div class="horizontal-box decalageBottom40">
        <img class="logo flipInX" src="img/geoPoliBand.png" width="25px">
    </div>

    <div class="vertical-box">
        <img id="echarpe" src="img/echarpe.png">
        <input name="play" id="play-btn" class="btn-accueil btn-bleu bebas-neue" type="button" value="JOUER">
        <input name="gamerule" id="gamerule-btn" class="btn-accueilBonus bebas-neue" type="button" value="RÈGLES DU JEU">
        <input name="classement" id="classement-btn" class="btn-accueilBonus bebas-neue" type="button" value="CLASSEMENT">
        <span id="credits-btn" class="text-app bebas-neue bottom-text cursor-hand">PARTENAIRES</span>
    </div>
</div>