<div class=" center"></div>
    <div class="vertical-box-classement">
        <div class="horizontal-box decalageBottom15">
            <input type="image" id="boutonRetour" alt="Retour" src="img/leftArrow.png">
            <img class="logo" src="img/geoPoliBand.png" width="25px">
        </div>

        <div class="popUp decalageBottom5">
            <h6 class="bebas-neue">CLASSEMENT</h6>

            <div id="textClassement" class="popUp-info"></div>

            <p id="textScore" class="popUp-info"></p>
        </div>

        <input name="pseudo" id="pseudo" class="popUp-inpuText popUp-center" type="text" placeholder="Votre pseudo ...">
        <input name="save" id="save-btn" class="btn-popUp btn-bleu popUp-center bebas-neue" type="button" value="Valider & Rejouer">
    </div>

    <p id="divError"></p>
</div>