<div class=" center"></div>
    <div class="vertical-box">
        <div class="horizontal-box decalageBottom15">
            <input type="image" id="boutonRetour" alt="Retour" src="img/leftArrow.png">
            <img class="logo" src="img/geoPoliBand.png" width="25px">
        </div>

        <div class="popUp vertical-box decalageBottom5">
            <img src="img/logoEcoleAGR.png" alt="AGR">
            <div class="popUp-info">
                <p>Axel Guy</p>
                <p>Clémence Bogard</p>
            </div>

            <img src="img/logoEcolePolytech.png" alt="Polytech">
            <div class="popUp-info">
                <p>Alexandre Clouet</p>
                <p>Ewen Le Guilly</p>
                <p>Maxime Dublé</p>
                <p>Mohamed Berté</p>
                <p>Souleymane Ouattara</p>
            </div>
        </div>

    </div>
</div>


<footer id="bandeau">
    <span id='merci-partenaire'>MERCI À NOS PARTENAIRES</span>

    <ul>
        <li><a href="http://www.hyblab.fr/"><img id="hyblab" src="logo_hyblab.png" alt="Hyblab DataSport"></a></li>
        <li><a href="http://www.univ-nantes.fr/"><img src="ecoles/logo_nantesuniversite.png" alt="Université de Nantes"></a></li>
    </ul>

    <ul>
        <li>
            <ul>
                <li class="stacked"><img id="cc" src="logo_cc.png" alt="Creative commons"></li>
                <li class="stacked"><img id="opensource" src="logo_opensource.png" alt="Open source"></li>
            </ul>
        </li>
        <li><a href="http://www.ouestmedialab.fr/"><img src="logo_oml.png" alt="Ouest Médialab"></a></li>
        <li><a href="https://france3-regions.francetvinfo.fr/pays-de-la-loire/"><img src="logo_france3.png" alt="Logo de mon porteur de projet"></a></li>
        <li><a href="http://www.nantesmetropole.fr/"><img class="institutionnel" src="institutionnels/logo_nantesmetropole.png" alt="Nantes Métropole"></a></li>
    </ul>
</footer>


