<div class="tips-page center">
    <div class="horizontal-box decalageBottom15">
        <input type="image" id="boutonRetour" alt="Retour" src="img/leftArrow.png">
        <img class="logo" src="img/geoPoliBand.png" width="25px">
    </div>

    <div class="tips">
        <h6 class="bebas-neue decalageBottom15">Règles du jeu</h6>

        <div class="tips-content">
            Bienvenue sur <b>GéoPoli</b> <font color="#ED6464">!</font>
            <br /> Le jeu qui va vous permettre d’en apprendre plus sur la Politique des communes en <br /> <b>Loire-Atlantique</b>. <br />Et surtout de manière <b>Ludique</b> <font color="#ED6464">!</font>
        </div>
        <div class="tips-content">
            D’abord, choisissez sur quelle orientation politique vous souhaitez vous concentrer.<br />
            Vous devrez trouver une commune parmi celles affichées sur la carte à l’aide de
            plusieurs affirmations. <br />
            Vous trouvez du 1er coup ? <br />
            Bingo, vous gagnez <br />
            tous les points.
        </div>
        <div class="tips-content">
            Vous vous êtes trompés ? <br />
            Pas de panique, un indice supplémentaire vous est proposé, mais ce sera votre dernière chance <font color="#ED6464">!</font> <br />
            Prenez le temps de consulter les informations liées à la commune et surpassez-vous pour les 4 manches suivantes !<font color="#ED6464">!</font>
        </div>
        <div class="tips-content">
            Attention, la distance entre la commune et votre choix a un rôle important donc ne vous
            pressez pas. <br/>
            À la fin, votre résultat sera affiché et vous pourrez vous comparer aux meilleurs joueurs. <br/>
            <font font-size="30px"><b> Amusez-vous bien </b> <font color="#ED6464">!</font></font>
        </div>

        <!-- Next/prev buttons -->
        <div class="button-list">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <!-- Dots/bullets/indicators -->
        <div class="dot-containerRule">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
    </div>
</div>
