<div class=" center">
    <div class="horizontal-box decalageBottom30">
        <input type="image" id="boutonRetour" alt="Retour" src="img/leftArrow.png">
        <img class="logo" src="img/geoPoliBand.png" width="25px">
    </div>

    <div class="vertical-box">
        <p class="genericText">Choisissez sur quelle orientation <br /> 
            politique vous souhaitez <br /> vous concentrer.</p>
        <div class="horizontal-box-space">
            <input type="button" id="gauche-btn" class="btn-menu btn-rouge bebas-neue flipInX" value="GAUCHE">
            <input type="button" id="centre-btn" class="btn-menu btn-vert bebas-neue flipInX" value="CENTRE">
            <input type="button" id="droite-btn" class="btn-menu btn-bleuClair bebas-neue flipInX" value="DROITE">
        </div>
    </div>
</div>