<div class=" center">
    <div id="mySwiper">
        <div class = "swiper-wrapper">
            <section id="first-slide" class="swiper-slide">
                <h6 class="titre-info" class="bebas-neue">Résulats de l'élection présidentielle 2017</h6>
                <div id = "tour">Voix des candidats au 1er tour en 2017</div>
                <div id="histogramme"></div>
                <div class = "popUp" id = "hist_box">
                    <h6 id = "sous_titre1">Informations sur la commune</h6>
                </div>
            </section>
            <section id="second-slide" class="swiper-slide">
                <span id ="tour2">Voix des candidats au 2e tour en 2017</span>
                <div id="pie_chart"></div>
                <div class = "popUp" id = "pie_box">
                    <h6 id = "sous_titre2">Informations sur la commune</h6>   
                </div>
                <div id="continue-btn" class="btn-popUp popUp-Space btn-bleu horizontal-box bebas-neue" >
                    <span>Passer à la commune suivante</span>
                </div>
            </section>
        </div>
    </div>

    <div class="swiper-pagination"></div>

</div>