<div class=" center"></div>
    <div class="vertical-box">
        <div class="horizontal-box decalageBottom30">
            <img class="logo" src="img/geoPoliBand.png" width="25px">
        </div>

        <div class="popUp decalageBottom5">
            <h6 id='scoreTitre' class="bebas-neue"></h6>

            <div class="popUp-info">
                Votre score est de <span id='scoreTotal'></span> points.
            </div>
        </div>

        <input name="save" id="save-btn" class="btn-popUp btn-bleu bebas-neue" type="button" value="Enregistrer votre score">
        <input name="rePlay" id="rePlay-btn" class="btn-popUp btn-bleu bebas-neue" type="button" value="Rejouer">
    </div>
</div>