.popUp{
    border: none;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -15px 15px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px;

    background-color: #282246;
    color: #f0e4d8;

    background-position: 9px 0px;
    background-repeat: no-repeat;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    line-height: 18px;
    overflow: hidden;
    padding: 15px 30px;
}

.popUp > h6{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25%;
    text-align: center;
}

.popUp > img{
    width: 25%;
}

.popUp-center, .popUp{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.popUp-info{
    font-size: 18%;
    text-align: center;
    margin-bottom: 10px;
}

.popUp-Space{
    margin-right: 10%;
    margin-left: 10%;
}

#popUptext{
    margin-left: -20%;
    margin-right: -20%;
}

.popUp-button{
    width: 20%;
    margin-right: 10px;
}

.popUp-inpuText{
    height: 3em;
    margin-bottom: 10px;
    border: none;
    font-size: 18%;
    text-align: center;
    background-color: #282246;
    color: whitesmoke;
}

.popUp-infoCommune{
    font-size: 50%;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
}


